.App{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
}
.controls{
        /* margin-right: auto; */
        /* margin-top:20rem;
        left:0; */
        width: 40vw;
        align-items: flex-start;       
}
.box{
        width:40vw;
        height:50vh;
        color:white;
        text-align: center;
        padding:120px;
}
.box-input{
        border: 1px 2px 3px black;
}